/* Styles for the heading */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* h1 {
    text-align: center;
    margin: 20px 0;
}


form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
}

form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #4caf50;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

/* Styles for the response container */
/* #response-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
} */ 
